{% extends 'admin/admin_layout.html' %}

{% block maincontent %}
    {{ super() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group mt-3">
                        <label for="InputAdmin">Email address <strong style="color: red;">*</strong></label>
                        <input name="user" type="text" class="form-control" id="InputAdmin" placeholder="Enter admin">
                    </div>
                    <div class="form-group mt-3">
                        <label>Password <strong style="color: red;">*</strong></label>
                        <input type="password" class="form-control" name="pswrd" placeholder="Enter password" required>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-outline-secondary">Sign in</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
