<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block title -%}
        {% if title %}
            <title>Про Flask - {{ title }}</title>
        {% else %}
            <title>{{ title }}</title>
        {% endif %}
    {% endblock %}

</head>
<body>
    {% block content -%}

<!--            Вариант 1 - явный вариант указания URL (прописываем урл через обращения к функции)-->
<!--            <ul>-->
<!--                <li><a href="{{ url_for('index') }}">Главная</a></li>-->
<!--                <li><a href="{{ url_for('add_post') }}">Добавить запись</a></li>-->
<!--            </ul>-->
<!--            Вариант 2 - вариант обращения к URL через БД-->
            <ul>
            {% for el in menu %}
                <li>
                    <a href="{{ el.url }}">{{ el.title }}</a>
                </li>
            {% endfor %}
            </ul>

        {% if title -%}
            <h1>{{ title }}</h1>
        {% else -%}
            <h1>Про Фласк</h1>
        {% endif %}

    {% endblock -%}
</body>
</html>