<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block title -%}
        {% if title %}
            <title>Про Flask - {{ title }}</title>
        {% else %}
            <title>{{ title }}</title>
        {% endif %}
    {% endblock %}

</head>
<body>
    {% block content -%}

        {%- block mainmenu -%}
            <ul>
                {% for el in menu %}
                    <li><a href="{{ el.url }}">{{ el.name }}</a></li>
<!--                    <li>{{ el }}</li>-->
                {% endfor %}
            </ul>
        {% endblock mainmenu %}

        {% if title -%}
            <h1>{{ title }}</h1>
        {% else -%}
            <h1>Про Фласк</h1>
        {% endif %}

    {% endblock -%}
</body>
</html>