{% extends 'website/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block main_content %}
    <div class="about_us_table">
        <h3 class="about_us_table_header">Наши реквизиты</h3>
        <table class="no_class">
        <tr>
            <td>УНП:</td>
            <td>123456789</td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td>+375 (17) 111-22-33</td>
        </tr>
        <tr>
            <td>Адрес юридической регистрации:</td>
            <td>г. Минск ул.****, дом ***</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><a href="mailto:abcde@gmail.com">abcde@gmail.com</a></td>
        </tr>
    </table>
    </div>
{% endblock %}