{% extends 'website/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block main_content %}

    <div>
        <h3 style="text-align: center;">Каталог товаров</h3>
    </div>

    <section class="wrapper_book_card">

        {% for book in books_query %}

            <div class="book_card">

                {% if book.book_image %}
                    <div>
                        <img class="img_param" src="{{ book.book_image.url }}" alt="foto">
                    </div>
                {% else %}
                    <div>
                        <p>Фото не загружено</p>
                    </div>
                {% endif %}

                <div>
                    <p>Название книги: {{ book.book_name }}</p>
                    <p>Год выпуска: {{ book.publ_year }}</p>
                    <p>Цена: {{ book.book_price_BYN }} BYN</p>
                    <button>Подробнее</button>
                    <button>Купить</button>
                </div>

            </div>
        {% endfor %}

    </section>

{% endblock %}