<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- --- -->
    <!-- Подключаем CSS -->
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">
    <!-- --- -->
</head>
<body>

    <header class="clearfix">
        <section>
            <div>
                <h4>header</h4>

                <ul>Навигация по сайту
                    <li>
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'about-us' %}">О нас</a>
                    </li>
                    <li>
                        <a href="{% url 'feedback' %}">Обратная связь / Отзывы</a>
                    </li>
                </ul>

            </div>
            <hr>
        </section>
    </header>

    <main>
        {% block main_content %}

        {% endblock %}
    </main>

    <footer class="clearfix">
        <hr>
        <section>
            <div>
                <h4>footer</h4>
                <p>Форма обратной связи</p>
            </div>
        </section>
    </footer>

</body>
</html>