{% extends 'website/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block main_content %}

    <div class="page_wrapper">
        <h1 style="text-align: center">Добавить новую акцию</h1>


            <div class="block_for_adding_sales_wrapper">
                <div class="block_for_form">

                    {% if request.user.is_authenticated %}
                        <form action="{% url 'sales' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <label for="sales_header">Название акции: </label>
                            <p class="add_sale_field" id="sales_header">{{ adding_sales_form.header }}</p>
                            <label for="sales_text">Текст акции: </label>
                            <p class="add_sale_field" id="sales_text">{{ adding_sales_form.text }}</p>
                            <label for="sales_image_field">Фото: </label>
                            <p class="add_sale_field" id="sales_image_field">{{ adding_sales_form.image_field }}</p>

                            <button type="submit">Добавить акцию</button>

                        </form>
                    {% else %}
                        <p>Предложить акцию может только зарегистрированный пользователь</p>
                    {% endif %}
                </div>
            </div>


    </div>
{% endblock %}