@charset "UTF-8";
html{
    background-color: #F6F5F4;
}
.clearfix{
    content: "";
    display: table;
    margin-bottom: 10px;
}
/* ********************************************************************* */
/* **************************** START HEADER *************************** */
/* ********************************************************************* */
header{
    width: 100%;
}
ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 2px; /* Значение полей */
}
ul li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    /* border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */

}
.header_blocks_wrapper{
    display: block;
}
.header_blocks_wrapper article{
    /*width: 33%;*/
    display: block;
    float: left;
}
.header_block_1{
    width: 17%;
    margin-left: auto;
}
.header_block_2{
    width: 70%;
    margin-left: auto;
}
.header_blocks_wrapper article ul{
    margin-left: auto;
}
.header_blocks_wrapper article ul li a{
    text-decoration: none;
}
header_blocks_wrapper article ul li a:hover {
    text-decoration: red;
}
.header_blocks_wrapper article span{
    margin-left: auto;
}

/* ********************************************************************* */
/* ***************************** END HEADER **************************** */
/* ********************************************************************* */

/* ********************************************************************* */
/* ***************************** START MAIN **************************** */
/* ********************************************************************* */
main{
    width: 100%;
}

.catalog_block{
    width: 80%;
    height: 480px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
}
.catalog_block_name{
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 2%;
}
.catalog_block_elements{
    margin: 0 auto;
    padding-left: 20%;
    background-color: #fff;
}
.book_card {
    max-width: 25%;
    height: 380px;
    max-height: 380px;
    border: 1px solid black;
    float: left;
    margin-left: 5%;
}

.img_param{
    width: 100%; /* max - 85% */
    height: 270px;
}
.book_card div p{
    margin-left: 5%;
    margin-top: -8%;
}
.book_card_buttons{
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: -5%;
    float: left;
}


/* Добавление акций и их вывод */
.page_wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}
.block_for_form{
    justify-content: center;
}

.add_sale_field{
    width: 250px;
}
.block_for_printing_sales_wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}
.sale_block{
    max-width: 70%;
    height: 380px;
    max-height: 380px;
    border: 1px solid black;

    margin-left: 5%;
}


/* ********************************************************************* */
/* ****************************** END MAIN ***************************** */
/* ********************************************************************* */

/* ********************************************************************* */
/* **************************** START FOOTER *************************** */
/* ********************************************************************* */
footer{
    width: 100%;
}



/* ********************************************************************* */
/* ***************************** END FOOTER **************************** */
/* ********************************************************************* */