{% extends 'layout.html' %}

{% block maincontent %}
    {{ super() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="shadow p-3 mt-3 bg-body rounded">
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.title.label(
            class="form-label") }}
            {{ form.title(
            class="form-control") }}<br>

            {{ form.content.label(
            class="form-label") }}
            {{ form.content(
            class="form-control", rows="5") }}<br>


            {{ form.submit(
            class="btn btn-primary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}

    <br>
    <a href="{{ url_for('index') }}"
       class="btn btn-outline-primary btn-sm">Back</a>

    </div>

{% endblock %}
