{% extends 'layout.html' %}

{% block maincontent %}
    {{ super() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <form action="{{ url_for('sign_in') }}" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group mt-3">
<!--                        <label for="InputEmail">Email address <strong style="color: red;">*</strong></label>-->
<!--                        <input name="email" type="email" class="form-control" id="InputEmail" placeholder="Enter email">-->
                        {{ form.email.label(class="form-label") }}
                        <strong style="color: red;">*</strong>
                        {{ form.email(class="form-control", placeholder="Enter Email") }}
                    </div>
                    <div class="form-group mt-3">
<!--                        <label>Password <strong style="color: red;">*</strong></label>-->
<!--                        <input type="password" class="form-control" name="psw" placeholder="Enter password" required>-->
                        {{ form.password.label(class="form-label") }}
                        <strong style="color: red;">*</strong>
                        {{ form.password(class="form-control", placeholder="Enter password") }}
                    </div>

                    <div class="form-group mt-3">
<!--                        <button type="submit" class="btn-color">Sign in</button>-->
                        {{ form.submit(class="btn-color") }}
                        <button type="submit" class="btn-color">
                            <a href="{{ url_for('sign_up') }}"
                               class="reg_btn">Sign up</a>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}